.navbar {
	width            : 100%;
	height           : auto;
	padding          : 20px 20px;
	background-color : #1597E5;
}

.nav_d-flex {
	display         : flex;
	justify-content : space-between;
	align-items     : center;
}

.logo {
	width : 30%;
}

.logo img {
	width : 320px;
}

.navLinks {
	width : 58%;
}


.navLinks ul li {
	display     : inline-block;
	text-align  : center;
	list-style  : none;
	margin-left : 54px;
	color       : white;
	font-size   : 20px;
	transition: all .5s ease;
}

.navLinks ul li:hover {
	border-bottom: 2px solid #1597E5;
	padding: 2px 0;
}

.signedOption {
	display         : flex;
	justify-content : space-between;
	align-items     : center;
	width           : 10%;
	height          : 53px;
	padding         : 5px 10px;
	border          : 5px solid white;
	border-radius   : 30px;
	font-size       : 13px;
	color           : white
}

.signImg {
	width         : 35px;
	height        : 35px;
	border        : 1px solid white;
	border-radius : 50%;
}

@media screen and (max-width : 1600px) {
	.logo {
		width : 40%;
	}

	.navLinks {
		width : 50%;
	}

	.navLinks ul {
		display         : flex;
		flex-wrap       : wrap;
		justify-content : center;
		text-align      : center;
	}

	.navLinks ul li {
		width       : 100px;
		text-align  : center;
		margin-left : 30px;

	}
}

@media screen and (max-width : 1530px) {
	.signedOption {
		border : none;
	}

	.signInfo {
		display : none;
	}

	.signImg {
		margin     : 0 0 0 67%;
		min-width  : 35px;
		min-height : 35px;
	}
}

@media screen and (max-width : 780px) {
	.logo img {
		width     : 125%;
		min-width : 210px;
		margin    : 0 0 20px 0;
	}

	.nav_d-flex {
		width   : 100%;
		display : block;
		margin  : 0 auto;
	}

	.logo {
		display : block;
		margin  : 0 auto;
	}

	.navLinks {
		width  : 100%;
		margin : 10px auto;
	}

	.signedOption {
		margin    : 0 auto;
		min-width : 140px;
		height    : 47px;
		border    : 4px solid white;
	}

	.signInfo {
		display : inline-block;
		width   : 70%;
	}

	.signImg {
		display : inline-block;
		margin  : 0 0 0 0;
	}

}