.home_services_title {
	text-align : center;
	color      : #1597E5;
	padding    : 70px;
	font-size  : 50px;
}

.home_service_container {
	display         : flex;
	justify-content : space-around;
}

.home_service {
	width         : 28%;
	height        : auto;
	margin        : 0 0 50px 0;
	border        : 1px solid #1597E5;
	border-radius : 20px;
	overflow      : hidden;
	transition    : all .5s ease;
}

.home_service:hover {
	box-shadow : 10px 10px 10px rgba(0, 0, 0, 0.47);
	transform  : translate(-10px, -10px);
}

.service_image {
	width : 100%;
}

.service_title, .service_description {
	padding : 10px 20px;
}

.service_title {
	font-size : 30px;
	color     : #00b9cf;
}

.service_description {
	font-size : 20px;
}

button {
	margin: 0 0 20px 20px;
	padding          : 10px 20px;
	color: white;
	background-color : #00b9cf;
	font-size        : 20px;
	border           : none;
	border-radius: 20px;
}

@media screen and (max-width : 1100px) {
	.home_service_container {
		display : block;
	}
	
	.home_service {
		width  : 55%;
		margin : 0 auto 50px auto;
	}
}

@media screen and (max-width : 600px) {
	.home_service {
		width  : 90%;
		margin : 0 auto 50px auto;
	}
}